body {
    background-color: lightgray;
}

.rates-container {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    max-width: 800px;
    margin: 1em auto;
}

.rates-container > div {
    display: flex;
    flex-direction: row;
    justify-items: center;
    column-gap: .5em;
    margin-bottom: 1em;
    font-weight: 600;
}

.rates-container th {
    text-align: center;
    vertical-align: center;
}
.rates-container td {
    text-align: right;
    padding-right: .5em;
}
.rates-container td:first-child{
    text-align: center;
}

.rates-container thead {
    background: white;
}
.rates-container tr:hover {
    background: #e0e0e0;
}

.rates-container table,
.rates-container th,
.rates-container td {
    border: 1px solid black;
}
